@{
    Layout = "_LayoutDashbord";
}

@{
    ViewData["Title"] = "Dashbord";
}

<h1>Wel Come</h1>


<div style="color:green"><p>@TempData["SuccessChange"]</p></div>

<div style="color:green"><p>Your Email: @ViewBag.EmailID</p></div>


