
@{
    ViewData["Title"] = "Verifylink";
}

<h1>Verifylink</h1>


@if (TempData["msg2"] != null)
{
    <div class="card border-success shadow-sm mb-3">
        <div class="card-body text-center">
            @Html.Raw(TempData["msg2"])
        </div>
    </div>
}