<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@{
    Layout = "_LayoutFairAdminDashbord";
}

@{
    ViewData["Title"] = "FairAdminDashbord";
}
<h1>Wel Come</h1>

<div style="color:green"><p>@TempData["SuccessChange"]</p></div>

<div style="color:green"><p>Your Email: @ViewBag.EmailID</p></div>

@if (TempData["SuccessChange"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '@TempData["Success"]'
        });
    </script>
}
