@{
    Layout = "_LayoutSuperAdminDashbord";
}

@{
    ViewData["Title"] = "SuperAdminDashbord";
}
<h1>Wel Come</h1>
@TempData["Success"]

<div style="color:green"><p>@TempData["SuccessChange"]</p></div>

<div style="color:green"><p>Your Email: @ViewBag.EmailID</p></div>

